@import url("https://fonts.googleapis.com/css2?family=Kufam:wght@700&family=Tajawal:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  font-family: "Tajawal", sans-serif;
  background: #101010;
  overflow-x: hidden;
  background-image: url(/img/609.png);
  background-size: 100%;
  image-resolution: 100%;
}

::-webkit-scrollbar{
  width: 5.5px;
}

::-webkit-scrollbar-track {
  background: whitesmoke; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: darkgray; 
  border-radius: 15px;
}

h1 {
  font-size: 5rem;
  margin-bottom: 1rem;
  color: #f0f4f8;
}

h1 span {
  color: #ffdcb7;
}

h2 {
  color: #243b53;
  font-size: 3.4rem;
  margin-bottom: 1rem;
}

h3 {
  color: #2b4561;
  font-size: 2.4rem;
  margin-bottom: 1rem;
}
h4 {
  font-size: 2rem;
  width: 40%;
  line-height: 1.8;
  margin-bottom: 2rem;
  color: #d5d5d5;
}

p {
  font-size: 1.6rem;
  color: #345375;
  line-height: 2;
}



/*** Nav Section ***/
.nav-container {
  background: #181818;
  color: #f0f4f8;
  background-size: 33vh;
  position: fixed;
  z-index: 999;
  width: 100%;
  border-bottom-left-radius: 125px;
  border-bottom-right-radius: 125px;
}

nav {
  width: 90%;
  max-width: 1366px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 5vh;
  font-size: 1.6rem;
  
}




/* Dropdown Menu */

nav .dropdown{
  display: flex;
  justify-content: space-between;
  flex: 1;
  cursor: pointer;
  padding: 5px;
  background-color: #181818;
  border: none;
  color: white;
  text-decoration: none;
  transition: 0.6s ease;
  font-family: tajawal;
  flex: 1;
  padding: 0;
  margin: 0;
  font-size: 1.6rem;
  align-items: center;
  text-align: center;
  max-height: 30px;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}

nav ul li p {
  text-align: center;
  padding:5px;
  color:white;
  text-decoration:none;
}

nav ul li p:hover {
  cursor: pointer;
  background-color: #136d69;
}

nav li ul {
  left: 185px;
  max-height: 210px;
  box-shadow: 0px 8px 16px 0px black ;
  overflow: auto;
  background-color: #181818;
	width:150px;
	opacity: 0;
	position: absolute;
	top: 3px;
	visibility: hidden;
	z-index: 1;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}

nav li:hover ul {
	opacity: 1;
	top: 71px;
	visibility: visible;
}

nav li ul li {
	width: 100%;
}

nav li ul a:hover {
	background: #bbb;
}




/* Other Navbar Elements */

nav .logo {
  margin: auto;
  flex: 3;
  text-decoration: none;
}

nav .logo a {
  text-decoration: none;
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  flex: 1;
}

nav ul li a {
  color: #f0f4f8;
  text-decoration: none;
  transition: 0.6s ease;
}

nav ul li a:hover{
  color: rgb(49, 224, 180);
}
nav ul li button:hover{
  color: rgb(49, 224, 180);
}




/*** Hero Section ***/

.mainSection {
  height: 100vh;
  position: relative;
}

.mainSection:after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  right: 0;
  background: linear-gradient(-45deg ,#181818,#484848,#6f6f6f,#a6a6a6,#dddddd );
  background-size: 400% 400%;
  opacity: 20%;

} 

.content{
  width: 90%;
  margin: 0 auto;
  max-width: 1366px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;

}

.content h4,h1{
  color: #ffffff;
  text-align: center;
}

h4 span{
  color: #ffdcb7;
}

.button1{
  font-family: inherit;
  font-weight: bold;
  padding: 0.75rem 3rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  background: #13a49d;
  transition: 0.6s ease;
}

.button1 a{
  font-size: 1.6rem;
  color: #ffffff;
  text-decoration: none;
}

.button1:hover{
  background: #51fff6;
  transform: scale(1.05);
  box-shadow: 0px 16px 32px 0px rgb(24, 24, 24) ;
}




/*** Footer Section ***/

footer {
  background: #181818;
  color: #f0f4f8;
  display: flex;
  bottom: 0;
  justify-content: center;
  align-items: center;
  height: 8vh;
  width: 100%;
  border-top-left-radius: 125px;
  border-top-right-radius: 125px;
  position: fixed;
}

footer a{
  color: #f0f4f8;
  text-decoration: none;
  transition: 0.6s ease;
  font-size: 1.5rem;
  font-weight: bold;

}

footer a:hover{
  color: rgb(49, 224, 180);
}




/*** Other Sizes Settings ***/

@media screen and (max-width:1530px){
  nav ul{flex-direction: column;}
  nav .dropdown{display:contents;}
  nav li ul{display: none;}
}

@media screen and (max-width:768px){
  .content h4{font-size: 20px;}
  .content h1{font-size: 40px;}
  .button1 a{font-size: 12px;  padding: 0.2rem 0.5rem;}
}

@media screen and (max-width:690px){
  footer a{font-size: 12px;}
  nav ul{font-size: 12px;}
  nav .dropdown{font-size: 12px;}
}

@media screen and (max-width:688px){
  nav{display: none;}
  .mainSection{display: none;}
  footer{display: none;}
  body{background: url(/img/under-construction2.png); background-size: 91.8%;}
}

