@import url("https://fonts.googleapis.com/css2?family=Kufam:wght@700&family=Tajawal:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  font-family: "Tajawal", sans-serif;
  background: #101010;
  overflow-x: hidden;
  background-image: url(/img/610.png);
  background-size: 100%;
  image-resolution: 100%;
  
}

::-webkit-scrollbar{
  width: 5.5px;
}

::-webkit-scrollbar-track {
  background: whitesmoke; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: darkgray; 
  border-radius: 15px;
}

h1 {
  font-size: 5rem;
  margin-bottom: 1rem;
  color: #f0f4f8;
}

h1 span {
  color: #ffdcb7;
}

h2 {
  color: #243b53;
  font-size: 3.4rem;
  margin-bottom: 1rem;
}

h3 {
  color: #2b4561;
  font-size: 2.4rem;
  margin-bottom: 1rem;
}
h4 {
  font-size: 2rem;
  width: 40%;
  line-height: 1.8;
  margin-bottom: 2rem;
  color: #d5d5d5;
}

p {
  font-size: 1.6rem;
  color: #345375;
  line-height: 2;
}

/* Nav Section */
.nav-container {
  background: #181818;
  color: #f0f4f8;
  background-size: 33vh;
  position: fixed;
  z-index: 999;
  width: 100%;
  border-bottom-left-radius: 125px;
  border-bottom-right-radius: 125px;
}


nav {
  width: 90%;
  max-width: 1366px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 5vh;
  font-size: 1.6rem;
}





/*other navbar elements*/
nav .logo {
  margin: auto;
  flex: 3;
  text-decoration: none;
}

nav .logo a {
  text-decoration: none;
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  flex: 1;
}

nav ul li a {
  color: #f0f4f8;
  text-decoration: none;
  transition: 0.6s ease;
}

nav ul li a:hover{
  color: rgb(49, 224, 180);
}
nav ul li button:hover{
  color: rgb(49, 224, 180);
}


/* Lessons Section */

.lessons {
  padding-bottom: 130px;
  justify-content: space-between;
  grid-gap: 2rem;
  padding-top: 9rem;
  text-align: center;
  overflow: hidden;
  position: relative;
  
}
.bg {
  background: linear-gradient(-45deg ,#181818,#484848,#6f6f6f,#a6a6a6,#dddddd );
  background-size: 400% 400%;
  opacity: 15%;
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
  top: 0;
}

.lessons .container{
  position: relative;
}
.lessons a{
  text-decoration: none;
}

.lessons p {
    padding-bottom: 30px;
    text-align: center;
}

.lessons .lessons-box {
    background: transparent;
    padding: 40px 0 40px 0;
    margin-bottom: 0px;
    margin-top: 0px;
    display:inline-flex;
    transition: all .5s;

}
.lessons .lessons-box:hover {
    padding: 0;
    color: #fff;
}
.lessons .lessons-box .lessons-box-inner {
    box-shadow: inset 0px 0px 0 10px #cecece;
    border-bottom: 10px solid #cecece;
    border-top: 10px solid #cecece;
    transition: all .5s;
    background: #fff;
    padding: 20px;
    margin: auto;
}
.lessons .lessons-box:hover .lessons-box-inner {
    box-shadow: inset 0px 0px 0px 0px #cecece;
    border-bottom: 10px solid #0f5753;
    border-top: 10px solid #0f5753;
    padding: 60px 20px 60px 20px;
    background: #9ab8b7;
}
.lessons .lessons-box p {
    width: 30vh;
    min-height: 120px;
    line-height: 32px;
    padding-top: 30px;
    font-size: 18px;
    margin: 0;
    
}
.lessons .lessons-box .lessons-box-icon {
    border-radius: 0px;
    text-align: center;
    padding-top: 50px;
    font-size: 56px;
    color:#233842;
    transition: all .25s ease-in-out;

}
.lessons .lessons-box:hover p {
  color: #fff;
  transition: all .25s;
}
.lessons .lessons-box:hover .lessons-box-icon {
  color: #fff;
  transition: all .25s ease-in-out;
  font-size: 70px;
  }


/* Footer Section */

footer {
  background: #181818;
  color: #f0f4f8;
  display: flex;
  bottom: 0;
  justify-content: center;
  align-items: center;
  height: 8vh;
  width: 100%;
  border-top-left-radius: 125px;
  border-top-right-radius: 125px;
  position: fixed;

}


footer a{
  color: #f0f4f8;
  text-decoration: none;
  transition: 0.6s ease;
  font-size: 1.5rem;
  font-weight: bold;
  
}

footer a:hover{
  color: rgb(49, 224, 180);
}


@media screen and (max-width:1530px){
  nav ul{flex-direction: column;}
}

@media screen and (max-width:768px){
  .content h4{font-size: 20px;}
  .content h1{font-size: 40px;}
  .button1 a{font-size: 12px;  padding: 0.2rem 0.5rem;}
}

@media screen and (max-width:690px){
  footer a{font-size: 12px;}
  nav ul{font-size: 12px;}
}

@media screen and (max-width:688px){
  nav{display: none;}
  footer{display: none;}
  .lessons{display: none;}
  body{background: url(/img/under-construction2.png); background-size: 91.8%;}
}






